LOG_FILE={{ log_path }}
MAX_LOG_LENGTH={{ max_log_length }}

touch $LOG_FILE

LOG_LENGTH=$(wc -l < $LOG_FILE)
if [ "$LOG_LENGTH" -gt "$MAX_LOG_LENGTH" ]
then
    rm $LOG_FILE
fi

timestamp=$(date)
exec &>> $LOG_FILE
