#!/bin/bash

SCRIPTS_DIR={{ automation_path }}

source $SCRIPTS_DIR/log.sh

CONTENT_PATH={{ content_path }}
APP_NAME={{ item.key }}
APP_HOME=$CONTENT_PATH/$APP_NAME

CHECKOUT_DIR=$APP_HOME/checkout

BACKUP_WWW=$APP_HOME/backup_html
PUBLIC_WWW=$APP_HOME/public_html
PUBLIC_WWW_TRASH=$APP_HOME/trash/public_html

# WORKING_DIRECTORY is needed to allow installation steps without interfering with the code change check
WORKING_DIRECTORY=$APP_HOME/working
WORKING_DIRECTORY_TRASH=$APP_HOME/trash/working-trash

update=1

# get pid by port # instead; with this command we'll probably only stop the first gunicorn process found, and it may not be the correct process
process=$(pgrep -of gunicorn)

if [ -z "$process" ]
then
    echo "\$process is empty"
    ignoreupdate=1
else
    ignoreupdate=0
fi

cd $CHECKOUT_DIR
git fetch

echo ignore update is $ignoreupdate

if $(git diff --quiet remotes/origin/HEAD) && [ $ignoreupdate == 0 ]
then
    echo "$timestamp no changes to repo for {{ item.key }}"
    update=0
fi

# also check here if there's anything at $PUBLIC_WWW, and continue if not
public_files=$(ls -A $PUBLIC_WWW)
if [ -z "$public_files" ]; then
    update=1
    echo files are missing for {{ item.key }}
fi

if [ "$update" -eq 0 ]; then
    echo not updating {{ item.key }}
    exit 0
fi


echo $timestamp killing process
kill $process

echo "$timestamp deploying changes"

set -e

echo starting update

# i guess i don't really understand rsync, since $WORKING_DIRECTORY keeps disappearing ¯\_(ツ)_/¯
mkdir -p $WORKING_DIRECTORY
mkdir -p $PUBLIC_WWW
mkdir -p $BACKUP_WWW
mkdir -p $PUBLIC_WWW_TRASH

rsync -azq --remove-source-files $WORKING_DIRECTORY/ $WORKING_DIRECTORY_TRASH
rsync -azq $PUBLIC_WWW/ $BACKUP_WWW
echo successfully rsynced backups
trap "echo 'A problem occurred.  Reverting to backup.'; rsync -aqz --del $BACKUP_WWW/ $PUBLIC_WWW; rm -rf $WORKING_DIRECTORY" EXIT

(cd $CHECKOUT_DIR && git pull)
rsync -azq $CHECKOUT_DIR/ $WORKING_DIRECTORY
rsync -azq --remove-source-files $PUBLIC_WWW/ $PUBLIC_WWW_TRASH

rsync -azq $WORKING_DIRECTORY/ $PUBLIC_WWW

# unique to pipenv apps
(cd $PUBLIC_WWW && pipenv sync && exec pipenv run gunicorn wsgi:app &)

rsync -azq --remove-source-files $WORKING_DIRECTORY/ $WORKING_DIRECTORY_TRASH
echo update complete
trap - EXIT
