#!/bin/bash

SCRIPTS_DIR={{ automation_path }}

source $SCRIPTS_DIR/log.sh

CONTENT_PATH={{ content_path }}
APP_NAME={{ item.key }}
APP_HOME=$CONTENT_PATH/$APP_NAME

CHECKOUT_DIR=$APP_HOME/checkout

BACKUP_WWW=$APP_HOME/backup_html
PUBLIC_WWW=$APP_HOME/public_html
PUBLIC_WWW_TRASH=$APP_HOME/trash/public_html

# WORKING_DIRECTORY is needed to allow installation steps without interfering with the code change check
WORKING_DIRECTORY=$APP_HOME/working
WORKING_DIRECTORY_TRASH=$APP_HOME/trash/working-trash

update=1

cd $CHECKOUT_DIR
git fetch

if git diff --quiet remotes/origin/HEAD;
then
    echo "$timestamp no changes to repo for {{ item.key }}"
    update=0
fi

# also check here if there's anything at $PUBLIC_WWW, and continue if not
public_files=$(ls -A $PUBLIC_WWW)
if [ -z "$public_files" ]; then
    update=1
    echo files are missing for {{ item.key }}
fi

if [ "$update" -eq 0 ]; then
    echo not updating {{ item.key }}
    exit 0
fi

echo "$timestamp installing {{ item.key }}"

set -e

echo starting update

mkdir -p $BACKUP_WWW
mkdir -p $PUBLIC_WWW
mkdir -p $PUBLIC_WWW_TRASH
mkdir -p $WORKING_DIRECTORY
mkdir -p $WORKING_DIRECTORY_TRASH

rsync -azq --remove-source-files $WORKING_DIRECTORY/ $WORKING_DIRECTORY_TRASH
rsync -azq $PUBLIC_WWW/ $BACKUP_WWW
echo successfully rsynced backups
trap "echo 'A problem occurred.  Reverting to backup.'; rsync -aqz --del $BACKUP_WWW/ $PUBLIC_WWW; rm -rf $WORKING_DIRECTORY" EXIT

# unique to html5 canvas games
# rather not have to do this but canvas-libs is causing problems, not getting properly removed by --remove-source-files
rm -rf $WORKING_DIRECTORY/canvas-libs

(cd $CHECKOUT_DIR && git pull)

rsync -azq $CHECKOUT_DIR/ $WORKING_DIRECTORY
rsync -azq --remove-source-files $PUBLIC_WWW/ $PUBLIC_WWW_TRASH

# unique to html5 canvas games
chmod +x $WORKING_DIRECTORY/install
echo running the following install script
echo
cat $WORKING_DIRECTORY/install
echo
$WORKING_DIRECTORY/install $WORKING_DIRECTORY/canvas-libs
rsync -azq $WORKING_DIRECTORY/ $PUBLIC_WWW

rsync -azq --remove-source-files $WORKING_DIRECTORY/ $WORKING_DIRECTORY_TRASH
echo update complete
trap - EXIT
